<?php
/**
 * EmpresaApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * 
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * EmpresaApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class EmpresaApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return EmpresaApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation empresaObterSelecionadoraBycpfnascimento
     *
     * Retorna uma selecionadora a partir do CPF e Data de Nascimento.
     *
     * @param double $cpf Cpf da selecionadora desejado (required)
     * @param \DateTime $nascimento Data de nascimento do currículo desejado (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\InlineResponse2004
     */
    public function empresaObterSelecionadoraBycpfnascimento($cpf, $nascimento)
    {
        list($response) = $this->empresaObterSelecionadoraBycpfnascimentoWithHttpInfo($cpf, $nascimento);
        return $response;
    }

    /**
     * Operation empresaObterSelecionadoraBycpfnascimentoWithHttpInfo
     *
     * Retorna uma selecionadora a partir do CPF e Data de Nascimento.
     *
     * @param double $cpf Cpf da selecionadora desejado (required)
     * @param \DateTime $nascimento Data de nascimento do currículo desejado (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\InlineResponse2004, HTTP status code, HTTP response headers (array of strings)
     */
    public function empresaObterSelecionadoraBycpfnascimentoWithHttpInfo($cpf, $nascimento)
    {
        // verify the required parameter 'cpf' is set
        if ($cpf === null) {
            throw new \InvalidArgumentException('Missing the required parameter $cpf when calling empresaObterSelecionadoraBycpfnascimento');
        }
        // verify the required parameter 'nascimento' is set
        if ($nascimento === null) {
            throw new \InvalidArgumentException('Missing the required parameter $nascimento when calling empresaObterSelecionadoraBycpfnascimento');
        }
        // parse inputs
        $resourcePath = "/v1.0/Empresa/ObterSelecionadora";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'text/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($cpf !== null) {
            $queryParams['cpf'] = $this->apiClient->getSerializer()->toQueryValue($cpf);
        }
        // query params
        if ($nascimento !== null) {
            $queryParams['nascimento'] = $this->apiClient->getSerializer()->toQueryValue($nascimento);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\InlineResponse2004',
                '/v1.0/Empresa/ObterSelecionadora'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\InlineResponse2004', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\InlineResponse2004', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
