select{
  width: 100%;
}

input.error, select.error{
  border-color: #B40430 !important;
  border-width: 2px;
}

input:disabled{
  background-color: #eee;
  cursor: not-allowed;
}

label.error{
  color: #B40431;
  font-weight: normal;
}

label.for-checkbox{
  display: inline;
  padding-right: 15px;
}

a.help{
  font-size: 50%;
  vertical-align: super;
  margin-left: 5px;
  padding: 1px;
}

.required::after { 
  content:" *"; 
  color: #B40430 !important;
}

.input-line {
  display: grid;
}

.input-line.two-columns {
  grid-gap: 10px;
  grid-template-areas: 'col1 col2'
}

.input-line.three-columns {
  grid-gap: 10px;
  grid-template-areas: 'col1 col2 col3'
}

.input-line.five-columns {
  grid-gap: 10px;
  grid-template-areas: 'col1 col2 col3 col4 col5'
}

.input-container{
  padding-bottom: 10px;
}

.group{
  padding-bottom: 50px;  
}

.experiencia{
  line-height: 45px;
}

@media only screen and (max-width: 350px) {
  .input-line.two-columns {
    grid-gap: 10px;
    grid-template-areas: 'col1' 'col2'
  }

  .input-line.three-columns {
    grid-gap: 10px;
    grid-template-areas: 'col1' 'col2' 'col3'
  }
  
  .input-line.five-columns {
    grid-gap: 10px;
    grid-template-areas: 'col1 col1 col1 col1' 'col2 col3 col4 col5'
  }

  .col1{
    grid-area: col1;
  }
}

@media only screen and (min-width: 351px) and (max-width: 700px) {
  .input-line.two-columns {
    grid-gap: 10px;
    grid-template-areas: 'col1' 'col2'
  }

  .input-line.three-columns {
    grid-gap: 10px;
    grid-template-areas: 'col1' 'col2' 'col3'
  }
}

/* STEPS */

.steps {
  list-style-type: none;
  padding: 0;
}
.steps.mobile { display: none }
@media (max-width: 640px) {
  .steps.mobile { display: block }
  .steps.desktop { display: none }
}
.steps li {
  display: inline-block;
  margin-bottom: 3px;
  width: calc(25% - 3px);
  text-align: center;
}
.steps li a, .steps li p {
  background: #eee;
  padding: 8px 20px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-indent: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.steps li a:hover, .steps li p:hover {
  text-decoration: none;
}
.steps li:not(:first-child) a:before, .steps li:not(:first-child) p:before {
  border-bottom: 18px solid transparent;
  border-left: 12px solid #fff;
  border-top: 18px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  margin-top: -18px;
}
.steps li:not(:last-child) a:after, .steps li:not(:last-child) p:after {
  border-bottom: 18px solid transparent;
  border-left: 12px solid #e5f4fd;
  border-top: 18px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  /*right: -12px;*/
  left:100%;
  top: 50%;
  width: 0;
  margin-top: -18px;
  z-index: 1;
}
.steps li.active a, .steps li.active p {
  background: #ccc;
  color: #000;
}
.steps li.active a:after, .steps li.active p:after {
  border-left: 12px solid #ccc;
}
.steps li.undone a, .steps li.undone p {
  background: #eee;
  color: #333;
}
.steps li.undone a:after, .steps li.undone p:after {
  border-left: 12px solid #eee;
}
.steps li.undone p {
  color: #aaa;
}
